@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img2.jpg');
  background-position: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.Todo {
  background: #0b0b16;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px 8px #dad8d8;
}

.TodoInput {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  width: 300px;
  color: #fff;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: grey;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.TodoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
  /* margin-right: 0.75rem; */
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
:disabled {
  background-color: #c5aeff;
  cursor: not-allowed;
}
